gerd/runs/2026-02-05_15-29-23/estadisticas_fusiones.json
gerd/runs/2026-02-05_15-29-23/estadisticas_fusiones.json
gerd/runs/2026-02-05_15-29-23/estadisticas_fusiones.json
*/estadisticas_fusiones.json
*/peace_map_replay.html
